<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>ru.job4j.servlets.hello.HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.crud.presentation.UserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.crud.presentation.UserUpdateServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.crud.presentation.UserCreateServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListJsp</servlet-name>
        <jsp-file>/index/list.jsp</jsp-file>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListJsp</servlet-name>
        <url-pattern>/list-all</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateJsp</servlet-name>
        <jsp-file>/update/update.jsp</jsp-file>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateJsp</servlet-name>
        <url-pattern>/update-user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateJsp</servlet-name>
        <jsp-file>/create/create.jsp</jsp-file>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateJsp</servlet-name>
        <url-pattern>/create-user</url-pattern>
    </servlet-mapping>
</web-app>