<?xml version='1.0' encoding='utf-8'?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/car</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>
        <property name="format__sql">true</property>

<!--        <mapping resource="ru/job4j/cars/models/Car.hbm.xml"/>-->
<!--        <mapping resource="ru/job4j/cars/models/Engine.hbm.xml"/>-->
<!--        <mapping resource="ru/job4j/cars/models/Driver.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>